@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: theme('colors.bg') !important;
  color: theme('colors.gray.400') !important;
  font-family: theme('fontFamily.mono') !important;
}

ul,
li {
  list-style: none;
}
hr {
  border: none;
}

button {
  cursor: pointer;
  outline: none !important;
  transition: theme('transitionDuration.500') theme('transitionProperty.colors');
}

@media (min-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}
